language: generic

env:
  - BENCHMARK_FILE=randoms-1M.txt BENCHMARK_FILE_DIR=breadsticks_test_files BENCHMARK_FILE_PATH=$BENCHMARK_FILE_DIR/$BENCHMARK_FILE

cache:
  directories:
    - $BENCHMARK_FILE_DIR/

jobs:
  include:
    - stage: circa10a
      name: awk
      before_script: ./download.sh
      script: time ./circa10a/breadsticks.sh $BENCHMARK_FILE_PATH
    - stage: circa10a
      language: go
      go: 1.14
      name: Go
      before_script: ./download.sh
      script: go build -ldflags="-s -w" circa10a/go/breadsticks.go &&
              time ./breadsticks $BENCHMARK_FILE_PATH
    - stage: circa10a
      language: python
      python: 3.8
      name: Python
      before_script: ./download.sh
      script: time python ./circa10a/breadsticks.py $BENCHMARK_FILE_PATH
    - stage: circa10a
      language: ruby
      python: 2.7
      name: Ruby
      before_script: ./download.sh
      script: time ruby ./circa10a/breadsticks.rb $BENCHMARK_FILE_PATH
    - stage: circa10a
      language: generic
      compiler:
        - clang
        - gcc
      name: C
      before_script: ./download.sh
      script: clang -O3 -o breadsticks ./circa10a/breadsticks.c &&
              time ./breadsticks $BENCHMARK_FILE_PATH &&
              gcc -O3 -o breadsticks ./circa10a/breadsticks.c &&
              time ./breadsticks $BENCHMARK_FILE_PATH
    - stage: cujarrett
      name: node
      before_script: ./download.sh
      script: time node ./cujarrett/index.js $BENCHMARK_FILE_PATH
    - stage: Torpus
      language: rust
      before_script: ./download.sh
      script:
        - cd Torpus/breadsticks &&
          cargo build --verbose --release &&
          time target/release/breadsticks ../../$BENCHMARK_FILE_PATH
    - stage: MitchellPavel
      language: clojure
      before_script: ./download.sh
      script:
        - cd MitchellPavel/breadsticks &&
          lein uberjar && ls -l && ls -l target &&
          time java -jar target/breadsticks.jar ../../$BENCHMARK_FILE_PATH
